@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<h1>@ViewData["Title"]</h1>
<p>
    Twoje hasło zostało zresetowane. Please <a asp-page="./Login">Kliknij aby zalogować</a>.
</p>
